.Panel{
    display: flex;
    flex-flow: column;
    width: 100%;

}
@media only screen and
(min-device-width:768px) and
(max-device-width:1024px) and
(orientation: landscape)
{
    .Panel{
        background-color: rosybrown;
        width: 100%;
        height: 100%;
        padding-top: 3rem;

    }
 }
 @media only screen and
(min-device-width:768px) and
(max-device-width:1024px) and
(orientation:portrait){
    .Panel{
        background-color: blue;
        width: 100%;
        height: 100%;
        padding-top: 3rem;
    }
 }
.Oben{
    background: #ccc;
    height: 50vh;
    width: 100vw;
    padding-top: 2.5rem;

}
@media only screen and
(min-device-width:768px) and
(max-device-width:1024px) and
(orientation: landscape){
    .Oben{
        background-color: rosybrown;
        width:100%;
        height: 30vw;
    }
 }
 @media only screen and
(min-device-width:768px) and
(max-device-width:1024px) and
(orientation:portrait){
    .Oben{
        background-color: blue;
    }
 }

.Unten{

    background: rgb(110, 110, 110);
    height: 50vh;
    width: 100vw;
}
@media only screen and
(min-device-width:768px) and
(max-device-width:1024px) and
(orientation: landscape){
    .Unten{
        background-color: lightgray;
        width: 100%;
        height: 37vw;

    }
 }
 @media only screen and
(min-device-width:768px) and
(max-device-width:1024px) and
(orientation:portrait){
    .Unten{
        background-color: blue;
    }
 }